name: CI

on:
  push:
    branches:
      - main
      - develop
      - 'feat/**'
  # pull_request:
  #   types: [opened, synchronize, reopened, closed]
  #   branches:
  #     - 'main'
  #     - 'develop'
  #     - 'feat/**'

concurrency:
  group: ci-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: Install dependencies
        run: pnpm -w install --frozen-lockfile

      - name: Lint (all workspaces)
        run: pnpm -w lint

      - name: Test (core)
        run: pnpm test

      - name: Build (core then apps)
        run: pnpm -w build
